-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: damkar-pep
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user` varchar(255) NOT NULL DEFAULT 'System',
  `action` varchar(100) DEFAULT NULL,
  `module` varchar(100) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `activity_logs_action_index` (`action`),
  KEY `activity_logs_module_index` (`module`),
  KEY `activity_logs_created_at_action_index` (`created_at`,`action`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `folder_mekanisme`
--

DROP TABLE IF EXISTS `folder_mekanisme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `folder_mekanisme` (
  `id_folder_mek` varchar(10) NOT NULL,
  `id_parent` varchar(10) DEFAULT NULL,
  `nama_folder_mek` varchar(255) NOT NULL,
  `created` datetime NOT NULL,
  `pemilik` varchar(255) NOT NULL,
  PRIMARY KEY (`id_folder_mek`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `folder_mekanisme`
--

LOCK TABLES `folder_mekanisme` WRITE;
/*!40000 ALTER TABLE `folder_mekanisme` DISABLE KEYS */;
/*!40000 ALTER TABLE `folder_mekanisme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `folder_monitoring`
--

DROP TABLE IF EXISTS `folder_monitoring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `folder_monitoring` (
  `id_folder_mon` varchar(10) NOT NULL,
  `id_parent` varchar(10) DEFAULT NULL,
  `nama_folder_mon` varchar(255) NOT NULL,
  `created` datetime NOT NULL,
  `pemilik` varchar(255) NOT NULL,
  PRIMARY KEY (`id_folder_mon`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `folder_monitoring`
--

LOCK TABLES `folder_monitoring` WRITE;
/*!40000 ALTER TABLE `folder_monitoring` DISABLE KEYS */;
/*!40000 ALTER TABLE `folder_monitoring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `folder_perencanaan`
--

DROP TABLE IF EXISTS `folder_perencanaan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `folder_perencanaan` (
  `id_folder_per` varchar(10) NOT NULL,
  `id_parent` varchar(10) DEFAULT NULL,
  `nama_folder_per` varchar(255) NOT NULL,
  `drive_folder_id` varchar(255) DEFAULT NULL,
  `pemilik` varchar(255) NOT NULL,
  `created` datetime NOT NULL,
  PRIMARY KEY (`id_folder_per`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `folder_perencanaan`
--

LOCK TABLES `folder_perencanaan` WRITE;
/*!40000 ALTER TABLE `folder_perencanaan` DISABLE KEYS */;
/*!40000 ALTER TABLE `folder_perencanaan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,'2014_10_12_000000_create_users_table',1),(2,'2014_10_12_100000_create_password_reset_tokens_table',1),(3,'2019_08_19_000000_create_failed_jobs_table',1),(4,'2019_12_14_000001_create_personal_access_tokens_table',1),(5,'2026_01_05_072636_add_file_path_to_tbl_perencanaan',2),(6,'2026_01_28_013836_add_id_parent_to_tbl_perencanaan',2),(7,'2026_01_28_add_file_path_to_tbl_mekanisme',2),(8,'2026_01_28_add_file_path_to_tbl_monitoring_pelaporan',2),(9,'2026_01_29_143615_create_activity_logs_table',3);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin`
--

DROP TABLE IF EXISTS `t_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_admin` (
  `id_admin` varchar(6) NOT NULL,
  `nama_admin` varchar(50) NOT NULL,
  `username_admin` varchar(20) NOT NULL,
  `password_admin` varchar(255) NOT NULL,
  `is_delete_admin` enum('0','1') NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `update_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_admin`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin`
--

LOCK TABLES `t_admin` WRITE;
/*!40000 ALTER TABLE `t_admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_dasar_hukum`
--

DROP TABLE IF EXISTS `tbl_dasar_hukum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_dasar_hukum` (
  `id_hukum` varchar(10) NOT NULL,
  `nama_hukum` varchar(255) NOT NULL,
  `created` datetime NOT NULL,
  `pemilik` varchar(255) NOT NULL,
  PRIMARY KEY (`id_hukum`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_dasar_hukum`
--

LOCK TABLES `tbl_dasar_hukum` WRITE;
/*!40000 ALTER TABLE `tbl_dasar_hukum` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_dasar_hukum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_dokumentasi`
--

DROP TABLE IF EXISTS `tbl_dokumentasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_dokumentasi` (
  `id_kegiatan` varchar(10) NOT NULL,
  `nama_kegiatan` varchar(255) NOT NULL,
  `keterangan` varchar(255) NOT NULL,
  `tanggal_kegiatan` date NOT NULL,
  `thumbnail` varchar(255) NOT NULL,
  `ekstensi` varchar(10) NOT NULL,
  `created` datetime NOT NULL,
  PRIMARY KEY (`id_kegiatan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_dokumentasi`
--

LOCK TABLES `tbl_dokumentasi` WRITE;
/*!40000 ALTER TABLE `tbl_dokumentasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_dokumentasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_dokumentasi_file`
--

DROP TABLE IF EXISTS `tbl_dokumentasi_file`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_dokumentasi_file` (
  `id_file` varchar(10) NOT NULL,
  `id_kegiatan` varchar(10) NOT NULL,
  `file_url` varchar(255) NOT NULL,
  `ekstensi` varchar(10) NOT NULL,
  `created` datetime NOT NULL,
  PRIMARY KEY (`id_file`),
  KEY `id_kegiatan` (`id_kegiatan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_dokumentasi_file`
--

LOCK TABLES `tbl_dokumentasi_file` WRITE;
/*!40000 ALTER TABLE `tbl_dokumentasi_file` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_dokumentasi_file` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_mekanisme`
--

DROP TABLE IF EXISTS `tbl_mekanisme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_mekanisme` (
  `id_mekanisme` varchar(10) NOT NULL,
  `id_folder_mek` varchar(10) DEFAULT NULL,
  `nama_file` varchar(255) NOT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `link` varchar(255) NOT NULL,
  `pemilik` varchar(255) NOT NULL,
  `created` datetime NOT NULL,
  PRIMARY KEY (`id_mekanisme`),
  KEY `id_folder_mek` (`id_folder_mek`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_mekanisme`
--

LOCK TABLES `tbl_mekanisme` WRITE;
/*!40000 ALTER TABLE `tbl_mekanisme` DISABLE KEYS */;
INSERT INTO `tbl_mekanisme` VALUES ('FILEM00001','','Alur Proses Rencana Strategis Dinas Pemadam Kebakaran dan Penyelamatan Kota Depok',NULL,'https://drive.google.com/file/d/1wLMUFvUdVVrDijY5y2qEpr3rJMYDnlg8/view','Developer','2025-10-31 11:04:56'),('FILEM00002','','Alur Perencanaan Dan Penganggaran Kota Depok',NULL,'https://drive.google.com/file/d/1TZHMsK_ImI17pWUfBX6Ww81R_Pdvtm1Y/view','Developer','2025-10-31 13:50:47');
/*!40000 ALTER TABLE `tbl_mekanisme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_monitoring_pelaporan`
--

DROP TABLE IF EXISTS `tbl_monitoring_pelaporan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_monitoring_pelaporan` (
  `id_monitoring` varchar(10) NOT NULL,
  `id_folder_mon` varchar(10) DEFAULT NULL,
  `nama_file` varchar(255) NOT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `link` varchar(255) NOT NULL,
  `pemilik` varchar(255) NOT NULL,
  `created` datetime NOT NULL,
  PRIMARY KEY (`id_monitoring`),
  KEY `id_folder` (`id_folder_mon`),
  KEY `id_folder_mon` (`id_folder_mon`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_monitoring_pelaporan`
--

LOCK TABLES `tbl_monitoring_pelaporan` WRITE;
/*!40000 ALTER TABLE `tbl_monitoring_pelaporan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_monitoring_pelaporan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_perencanaan`
--

DROP TABLE IF EXISTS `tbl_perencanaan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_perencanaan` (
  `id_perencanaan` varchar(10) NOT NULL,
  `id_parent` varchar(10) DEFAULT NULL,
  `id_folder_per` varchar(10) NOT NULL,
  `nama_file` varchar(255) NOT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `link` varchar(255) NOT NULL,
  `pemilik` varchar(255) NOT NULL,
  `created` datetime NOT NULL,
  PRIMARY KEY (`id_perencanaan`),
  KEY `id_folder_per` (`id_folder_per`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_perencanaan`
--

LOCK TABLES `tbl_perencanaan` WRITE;
/*!40000 ALTER TABLE `tbl_perencanaan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_perencanaan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-30 15:30:19
